<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <h1>Welcome to the Home Page</h1>
  <p>This is a simple home page built with Thymeleaf and Spring Boot.</p>

  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/eregistrar/student}">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/about}">About</a>
      </li>
    </ul>
  </nav>
</div>

</body>
</html>
